@import url('./fonts/fonts.css');

:root {
  --background: rgb(249 250 251);
  --foreground: rgb(3, 7, 18);
  overflow: auto;

}

html,
body {
  max-width: 100%;
}
html {
  overflow: auto;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Geist', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.object-cover {
  object-fit: contain!important;
}